.main{
	font-size: 20px;
}

.top{ 
}

.headingtable{
	border-spacing: 40px;
}

.headingtable h1{
	font-style: monospace;
	font-size: 70px;
}

#img_venky{
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

.education{
	text-align: left;
}

.work{
	text-align: left;
}

.project{
	margin-top: -50px;
	margin-left: -30px; 
	text-align: left;
}

